#ContactForm 
{
    width: 100%;
    align-content: center;
}
#ContactForm h2 
{
    color: white;
}
#ContactForm p , span , a
{
    color: #eee;
}

#ContactForm .container
{
    width: 90%;
    padding: 50px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.container .form_left
{
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 55vh;
}
.form_left .form_left_top 
{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form_left .form_left_bottom
{
    width: 100%;

} 
.form_left_bottom .form_left_bottom_social
{
    width: 100px;
    gap: 20px;
    display: flex;
}
.form_left_bottom .form_left_bottom_social i 
{
    font-size: 1.5rem;
    color: white;
}

.container .form_middle
{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_middle .form_middle_sBox
{
    width: 300px;
    margin: 0 auto;
    border-radius: 100%;
    height: 280px;
    background-size: cover;
    object-fit: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url("../assets/media/RAY1.png");
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.container .form_right
{
    width: 32%;
}
.form_right .form_right_top 
{
    width: 100%;
    padding-bottom: 20px;
}
.form_right .form_right_bottom
{
    width: 100%;
}

