#UtilityBar {
  width: 100%;
  background: #1f2937;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  align-content: center;
  z-index: 999;
  transition: top 0.4s ease-in-out;
}

#UtilityBar.hidden {
  top: -100%;
}

#UtilityBar .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .lang_switcher {
  width: 20%;
  color: white;
}

.lang_switcher span {
  cursor: pointer;
}

.container .social_links {
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social_links i {
  color: #F9B253;
  font-size: 1.4rem;
  cursor: pointer;
}
.lang_switcher select {
  background-color: #2b405e;
  /*darkgray(almostblack)*/color: #fff;
  padding: 7px 14px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  appearance: none;
  /*removedefaultarrow*/-webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 18px;
  transition: all 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.lang_switcher select:hover {
  background-color: #374151; /* slightly lighter gray */
  cursor: pointer;
}

.lang_switcher {
  position: relative;
  width: 180px;
}
